.contact-cta {
  margin: #{$unit * 12}px 0 #{$unit * 12}px;
  padding: 0 #{$unit * 5}px;
}

@include media('>=wide') {
  .contact-cta {
    margin: #{$unit * 14}px 0 #{$unit * 14}px;
  }
}

.contact-cta__catchline {
  margin: 0 0 #{$unit * 3}px;

  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

@include media('>=wide') {
  .contact-cta__catchline {
    margin-bottom: #{$unit * 2}px;

    font-size: 48px;
    line-height: 56px;
  }
}

.contact-cta__divider {
  margin: 0 auto #{$unit * 6}px;

  border-color: $colors__beta;
}

.contact-cta__cta {
  margin: 0 auto;
}
