// Variables
$fullpage-text--center: '.fullpage-text:not(.fullpage-text--right):not(.fullpage-text--left)';

// Component
.fullpage-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  height: 100%;
}

#{$fullpage-text--center} {
  justify-content: center;
}

@include media('>=wide') {
  .fullpage-text--right {
    justify-content: center;
  }

  #{$fullpage-text--center},
  .fullpage-text--left {
    justify-content: flex-start;
  }

  .fullpage-text--last {
    justify-content: flex-end;
  }
}

// Image
.fullpage-text__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 56.25%;

  background-color: $colors__gamma;

  z-index: -1;

  & img {
    filter: grayscale(100%);
  }
}

#{$fullpage-text--center} .fullpage-text__image {
  bottom: 0;

  height: 100%;

  & img {
    filter: grayscale(100%) brightness(40%) contrast(75%);
    transform: translate(7%, -14%) scale(1.4);
  }
}

@include media('>=wide') {
  #{$fullpage-text--center} .fullpage-text__image img {
    filter: grayscale(100%) brightness(25%) contrast(85%);
    object-position: center 85% !important;
    transform: none;
  }

  .fullpage-text--right .fullpage-text__image {
    width: 66.66%;
    height: 100%;
  }

  .fullpage-text--left .fullpage-text__image {
    left: 50%;

    width: 50%;
    height: 100%;
  }
}

// Wrapper
.fullpage-text__wrapper {
  margin: 0 #{$unit * 2}px;
  padding: #{$unit * 4}px;

  background-color: $colors__omega;
}

#{$fullpage-text--center} .fullpage-text__wrapper {
  background-color: transparent;

  color: $colors__omega;
  text-align: center;

  & .button {
    margin-left: auto;
    margin-right: auto;
  }
}

#{$fullpage-text--center}.fullpage-text--no-background .fullpage-text__wrapper {
  margin-top: #{$unit * 12}px;
  margin-bottom: #{$unit * 12}px;

  color: $colors__psi;
}

@include media('>=wide') {
  .fullpage-text__wrapper {
    width: 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;

    background-color: transparent;
  }

  #{$fullpage-text--center} .fullpage-text__wrapper {
    width: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: #{$unit * 10}px;
  }

  #{$fullpage-text--center}.fullpage-text--last .fullpage-text__wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  #{$fullpage-text--center}.fullpage-text--no-background .fullpage-text__wrapper {
    text-align: left;

    & .button {
      margin: 0;
    }
  }

  .fullpage-text--right .fullpage-text__wrapper {
    margin-left: 42%;
  }

  .fullpage-text--left .fullpage-text__wrapper {
    margin-left: 18%;
    padding-top: #{$unit * 10}px;
  }
}

// Number
.fullpage-text__number {
  display: inline-block;
  position: relative;

  margin: 0 0 #{$unit * 2}px;

  color: $colors__alpha;
  font-family: $fonts__beta;
  font-weight: 700;

  &:after {
    position: absolute;
    bottom: -#{$unit / 2}px;
    left: 0;

    width: 100%;
    height: #{$unit / 2}px;

    background-color: $colors__beta;

    content: '';
  }
}

@include media('>=wide') {
  .fullpage-text__number {
    font-size: 32px;
  }
}

// Headline
.fullpage-text__headline {
  margin: 0 0 #{$unit * 2}px;

  font-size: 28px;

  & strong {
    color: $colors__alpha;
  }
}

@include media('>=wide') {
  .fullpage-text__headline {
    font-size: 104px;
  }

  #{$fullpage-text--center} .fullpage-text__headline,
  .fullpage-text--left .fullpage-text__headline {
    margin-bottom: #{$unit * 7}px;
  }
}

// Content
@include media('>=wide') {
  .fullpage-text--right .fullpage-text__content {
    padding: #{$unit * 8}px #{$unit * 12}px #{$unit * 6}px;
    background-color: $colors__omega;
  }

  .fullpage-text--left .fullpage-text__content {
    max-width: 60%;
  }

  .fullpage-text--last .fullpage-text__content {
    margin-bottom: #{$unit * 12}px;
  }
}

// Description
.fullpage-text__description {
  margin: 0 0 #{$unit * 4}px;

  line-height: 32px;
}

@include media('>=wide') {
  .fullpage-text__description {
    font-size: 24px;
    line-height: 40px;
  }

  #{$fullpage-text--center} .fullpage-text__description,
  .fullpage-text--left .fullpage-text__description {
    margin-bottom: #{$unit * 8}px;
  }

  #{$fullpage-text--center}.fullpage-text--no-background .fullpage-text__description {
    width: 80%;
  }
}
