.navigation {
  position: absolute;
  top: #{$unit * 12}px;
  left: 10%;
  display: flex;
  justify-content: center;

  width: 80%; // Hardcoded in the React Component
  padding: 0 5%;

  z-index: 999;
}

.navigation__overlay {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  transition: width 800ms ease-in-out;

  background-color: $colors__gamma;
}

.navigation--appeared .navigation__overlay {
  width: 0%;
}

.navigation__overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);

  height: 100%;
  width: 40%;

  transition: transform 600ms ease-in-out;

  background-color: $colors__alpha;
  content: '';
}

.navigation--appeared .navigation__overlay::after {
  transform: translateX(0%);
}

.navigation--small {
  top: 0;
  left: 0;
  display: block;

  width: calc(100vw - #{$unit * 4 * 2}px);
  margin: #{$unit * 4}px;
  padding: 0;
}

.navigation--small.navigation--open {
  height: calc(100vh - #{$unit * 4 * 2}px);
  max-height: calc(100vh - #{$unit * 4 * 2}px);
}

.navigation__background {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: $colors__gamma;

  opacity: 0.7;
  z-index: -1;
}

.navigation--small.navigation--open .navigation__background {
  opacity: 0.95;
}

.navigation__logo {
  display: block;

  height: #{$unit * 3}px;

  margin: auto;
  margin-left: 0;
  padding: 0 #{$unit * 4}px;
}

.navigation__logo-image {
  display: block;
  height: 100%;
}

.navigation--small .navigation__logo {
  height: #{$unit * 2}px;
  width: 0;

  margin: #{$unit * 3}px 0;
  padding-left: #{$unit * 2}px;
}

.navigation--small.navigation--open .navigation__logo {
  margin-bottom: #{$unit * 6}px;
}

.navigation__button {
  display: none;
}

.navigation--small .navigation__button {
  display: block;
  position: absolute;
  top: #{$unit * 3}px;
  right: #{$unit * 2.5}px;
  transform: translateY(-30%);

  margin: 0;
  padding: 0;

  color: $colors__omega;
  font-size: 24px;

  cursor: pointer;
  user-select: none;
}

.navigation--small.navigation--open .navigation__button-open {
  display: none;
}

.navigation--small .navigation__button-close {
  display: none;
}

.navigation--small.navigation--open .navigation__button-close {
  display: initial;
}

.navigation__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 100%;
  margin: auto;
  margin-right: 0;
  padding: 0;

  list-style: none;
  white-space: nowrap;
}

.navigation--small .navigation__items {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;

  height: auto;
  margin: 0;
}

.navigation--small.navigation--open .navigation__items {
  display: initial;
}

.navigation__item {
  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    display: none;
  }
}

.navigation--small .navigation__item {
  &:first-child {
    display: initial;
  }
}

.navigation__link {
  position: relative;
  display: block;

  margin: 0;
  padding: #{$unit * 3}px #{$unit * 2}px;

  color: $colors__omega;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  overflow: hidden;
}

.navigation--small .navigation__link {
  margin: #{$unit * 2}px 0;
  padding: #{$unit}px #{$unit * 4}px;

  font-size: 16px;
}

@media screen and (max-height: 600px) {
  .navigation--small .navigation__link {
    margin-top: #{$unit / 2}px;
    margin-bottom: #{$unit / 2}px;
  }
}

.navigation__link-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateX(-101%);
  transition: transform 300ms ease-in-out;

  z-index: -1;
}

.navigation__link-background--hover {
  background-color: #333;
}

.navigation__link-background--active {
  background-color: $colors__alpha;
}

.navigation__link:not(.navigation--small):hover .navigation__link-background--hover {
  transform: translateX(0%);
}

.navigation__link--active:not(.navigation--small) .navigation__link-background--active {
  transform: translateX(0%);
}

.navigation__languages-items {
  position: absolute;
  bottom: 50%;
  left: 100%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;

  width: 10vw;
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
}

.navigation--small .navigation__languages-items {
  bottom: #{$unit * 3}px;
  left: #{$unit * 4}px;
  transform: none;
  justify-content: flex-start;

  width: auto;
}

.navigation--small:not(.navigation--open) .navigation__languages-items {
  display: none;
}

.navigation__languages-item {
  position: relative;
  margin-right: #{$unit * 2}px;
}

.navigation__languages-link {
  color: $colors__omega;
  text-decoration: none;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    transition: width 150ms ease-in-out;

    background-color: $colors__alpha;
    content: '';
  }

  &:hover::after {
    width: 100%;
  }
}

.navigation__languages-item--active .navigation__languages-link {
  font-weight: 700;

  &::after {
    width: 100%;
  }
}

#fullpage .navigation:not(.navigation--small) .navigation__languages-link {
  color: $colors__psi;
}
