.page-transition__intro {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;
  padding: 0 10%;

  background-color: $colors__omega;
  overflow: hidden;
  z-index: 9999;
}

@include media('>=medium') {
  .page-transition__intro {
    padding: 0 30%;
  }
}

.page-transition__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
}
