.page-transition__intro {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  background-color: $colors__omega;
  overflow: hidden;
  z-index: 9999;
}

.page-transition__intro-lottie {
  width: 200px;
  height: 100vh;
  margin: 0 auto;
}

@include media('>=medium') {
  .page-transition__intro-lottie {
    width: 350px;
  }
}

.page-transition__loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
}
