.story {
  position: relative;

  background-color: $colors__omega;
}

.story__scene {
  position: relative;
}

.story__illustration {
  display: none;
  position: sticky;
  top: 0;
  left: 0;

  width: 50%;
  height: 100vh;
  margin-bottom: -100vh;

  background-color: $colors__gamma;
}

@include media('<medium') {
  .story__illustration {
    display: block;
    position: relative;

    width: 100%;
    height: 50vh;
    margin-bottom: #{$unit * 4}px;
  }
}

.story__chapter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin-left: 50%;
}

@include media('<medium') {
  .story__chapter {
    width: 100%;
    margin-left: 0;
    margin-bottom: #{$unit * 4}px;
  }
}

.story__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: #{$unit * 4}px #{$unit * 8}px;
}

.story__title {
  margin: 0 0 #{$unit * 4}px;

  font-size: 48px;
  line-height: 56px;

  & strong {
    color: $colors__alpha;
  }
}

.story__text {
  margin: 0;
  padding: 0;

  list-style: none;
}

.story__text > li {
  margin: 0 0 #{$unit * 4}px;
  padding: 0 0 0 #{$unit * 3}px;

  list-style: none;
  background-repeat: no-repeat;
  background-position: left #{$unit * 1}px;
  background-size: #{$unit * 1.25}px;

  &:last-child {
    margin-bottom: 0;
  }
}
