.story {
  position: relative;

  background-color: $colors__omega;
}

.story__scene {
  position: relative;
}

.story__illustration {
  display: none;
  position: sticky;
  top: 0;
  left: 0;

  width: 50%;
  height: 100vh;
  margin-bottom: -100vh;

  background-color: $colors__gamma;
}

@include media('<medium') {
  .story__illustration {
    display: none;
  }
}

.story__progress {
  position: absolute;
  top: 0;
  left: 50%;

  width: 4px;
  height: 25vh;
  margin-bottom: -100vh;

  transition: height 250ms $transition_easing;

  background-color: $colors__alpha;
}

@include media('<medium') {
  .story__progress {
    display: none;
  }
}

.story__chapter {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 50%;
  margin-left: 50%;
}

@include media('<medium') {
  .story__chapter {
    flex-flow: column;

    height: auto;
    width: 100%;
    margin-left: 0;
    margin-bottom: #{$unit * 4}px;
  }
}

.story__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: #{$unit * 4}px #{$unit * 8}px;
}

@include media('<medium') {
  .story__content {
    padding-left: #{$unit * 4}px;
    padding-right: #{$unit * 4}px;
  }
}

.story__image {
  display: none;
}

@include media('<medium') {
  .story__image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

.story__title {
  margin: 0 0 #{$unit * 4}px;

  font-size: 48px;
  line-height: 56px;

  & strong {
    color: $colors__alpha;
  }
}

@include media('<medium') {
  .story__title {
    font-size: 32px;
    line-height: 1.25em;
  }
}

.story__text {
  margin: 0;
  padding: 0;

  list-style: none;
}

.story__text > li {
  margin: 0 0 #{$unit * 4}px;
  padding: 0 0 0 #{$unit * 3}px;

  list-style: none;
  background-repeat: no-repeat;
  background-position: left #{$unit * 1}px;
  background-size: #{$unit * 1.25}px;

  &:last-child {
    margin-bottom: 0;
  }
}
