*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;

  color: $colors__psi;
  font-family: $fonts__alpha;
  font-size: 16px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;

  background-color: #222;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page-transition__children {
  background-color: $colors__omega;
}

h1,
h1 b,
h1 strong {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@include media('>=wide') {
  h1,
  h1 b,
  h1 strong {
    font-size: 104px;
    line-height: 116px;
  }
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

@include media('>=wide') {
  h2 {
    font-size: 80px;
    line-height: 116px;
  }
}

h3 {
  font-size: 20px;
  line-height: 64px;
}

hr {
  margin: 0;

  width: #{$unit * 6}px;

  border: none;
  border-bottom: 4px solid $colors__beta;
}

img {
  border-style: none;
}

strong {
  font-weight: 700;
}

///// Forms /////

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
