*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;

  color: $colors__psi;
  font-family: $fonts__alpha;
  font-size: 16px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

h1,
h1 b,
h1 strong {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@include media('>=wide') {
  h1 {
    font-size: 104px;
    line-height: 116px;
  }
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

@include media('>=wide') {
  h2 {
    font-size: 80px;
    line-height: 116px;
  }
}

hr {
  margin: 0;

  width: #{$unit * 6}px;

  border: none;
  border-bottom: 4px solid $colors__beta;
}

strong {
  font-weight: 700;
}
