$unit: 8;

// WRANING: update ../variables.js accordingly
$breakpoints: (
  narrow: 600px,
  medium: 800px,
  wide: 1080px,
);

// $transition_easing: cubic-bezier(0.19, 1, 0.22, 1);
$transition_easing: cubic-bezier(0.165, 0.84, 0.44, 1);

$max-widths__page-blocks: 1220px;

$margins__page-blocks--narrow: #{$unit * 8}px;
$margins__page-blocks--wide: #{$unit * 14}px;

$colors__alpha: #e21e26;
$colors__beta: #edeff5;
$colors__gamma: #222222;
$colors__psi: #222222;
$colors__omega: #ffffff;

$fonts__alpha: 'Raleway', sans-serif;
$fonts__beta: 'Roboto', sans-serif;
