$unit: 8;

$breakpoints: (
  narrow: 500px,
  medium: 768px,
  wide: 1200px,
);

$max-widths__page-blocks: 1220px;

$margins__page-blocks--narrow: #{$unit * 8}px;
$margins__page-blocks--wide: #{$unit * 14}px;

$colors__alpha: #e21e26;
$colors__beta: #edeff5;
$colors__gamma: #222222;
$colors__psi: #222222;
$colors__omega: #ffffff;

$fonts__alpha: 'Raleway', sans-serif;
$fonts__beta: 'Roboto', sans-serif;
