// Component
@include media('<wide') {
  .fullpage-navigation {
    display: none;
  }
}

.fullpage-navigation {
  position: absolute;
  right: 5%;
  top: 50%; // Overwritten by Javascript
  z-index: 2;
  transform: translateY(-50%);
}

// Items
.fullpage-navigation__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.fullpage-navigation__items--light {
  color: $colors__omega;
}

// Item
.fullpage-navigation__item {
  position: relative;

  margin: 0 0 #{$unit * 2}px;

  font-family: $fonts__beta;
  font-weight: 300;
  white-space: nowrap;
}

// Number
.fullpage-navigation__number {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &::after {
    position: absolute;
    bottom: #{$unit * -1}px;
    left: 0;

    width: 0%;
    height: 2px;

    transition: width 250ms $transition_easing;

    background-color: $colors__alpha;

    content: '';
  }

  &:hover::after {
    width: 100%;
  }
}

.fullpage-navigation__item--active .fullpage-navigation__number {
  &::after {
    width: 100%;
  }
}

// Anchor
.fullpage-navigation__anchor {
  position: absolute;
  right: #{$unit * 4}px;
  top: 50%;
  transform: translateY(0%);

  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  opacity: 0;

  transition: all 250ms $transition_easing;
}

.fullpage-navigation__number:hover ~ .fullpage-navigation__anchor {
  opacity: 1;
  transform: translateY(-50%);
}

.fullpage-navigation__item--active .fullpage-navigation__anchor {
  opacity: 1;
  transform: translateY(-50%);
}
